
#body-content {
    background-color: #000000;
    color: #FFF;
}

.maincontent {
	background-color: #000000;
}
.letter_block {
	/* color: #CCCC00; */
	color: #222;
	font-size: 15em;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: -10px;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-shadow: 0 0 15px #FFF
}

.brick { 
	padding: 4px !important	;	
}

.lightText {
	color: #FFF;
	font-size: 1em;
	width: 100%;
	padding-top: -10px;
	padding-bottom: -10px;
	display: inline-block;
	word-wrap: break-word;
}

.main-link {
    color: #DD0000;
    font-size: xx-large;
    align-content: right;
    font-weight: 900;
    text-decoration: underline;
    padding: 5%;
}
